<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{% block stylesheets %}
			{{ encore_entry_link_tags("app") }}
		{% endblock %}
	</head>
	<body>
		<div class="container">
			<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
				<a class="navbar-brand" href="{{ path("accueil") }}" title="Accueil">BIBLIOsF4</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto">
						
                        {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                            <li class="nav-item active">
                                <a class="nav-link" href="{{path("lecteur")}}">Salut {{ app.user.username }} !
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path("app_logout") }}" class="nav-link" title="Déconnexion">
                                    <i class="fa fa-sign-out-alt"></i>
                                </a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a href="{{ path("app_login")}}" class="nav-link" title="Connexion">
                                    <i class="fa fa-sign-in-alt"></i>
                                </a>
                            </li>
                            <li class="nav-item">
							    <a class="nav-link" href="{{ path("app_register")}}" title="Inscription">
                                    <i class="fa fa-user-plus"></i>
                                </a>
						    </li>

						{% endif %}

                        
                        {% if is_granted("ROLE_ADMIN") %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Admin
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="{{ path("livre_index") }}">Livres</a>
                                    <a class="dropdown-item" href="{{ path("abonne_index") }}">Abonnés</a>
                                    <a class="dropdown-item" href="{{ path("emprunt_index") }}">Emprunts</a>
                                </div>
                            </li>
                        {% endif %}
						
						<li class="nav-item">
							<a class="nav-link" href="{{ path("recherche_livres_indispo")}}" title="Livres indisponibles">
                                    Livres indisponibles
                            </a>
						</li>

					</ul>
					<form class="form-inline my-2 my-lg-0" action="{{ path("recherche") }}">
						<input class="form-control mr-sm-2"  type="search" name="mot" placeholder="Taper le nom du livre" aria-label="Search">
						<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Rechercher</button>
					</form>
				</div>
			</nav>
		
		{# MESSAGES #}
        {# La variable 'app' permet d'accéder à plusieurs informations concernant le projet
             à partir d'un fichier twig 
            ex: app.flashes contient les messages d'alerte
        #}
        {% for type, messages in app.flashes %}
            <div class="alert alert-{{type}}">
                {% for msg in messages %}
                    {# Le filtre 'raw' permet d'afficher du texte avec des balises html qui seront interprétées
                        Sans ce filtre, la balise html serait affiché comme du texte                     #}
                    {{ msg|raw }}
                {% endfor %}
            </div>
        {% endfor %}


			{% block body %}{% endblock %}
		</div>

		{% block javascripts %}
			{{ encore_entry_script_tags("app") }}
		{% endblock %}
	</body>
</html>
